.bi {
font-size:3em;
}
.col-md-4 {
text-align: center;
}
.bigicon {
font-size:5em;
}
.col-md-12 {
text-align:  center;
}

body{
  font-family: "Times New Roman";
}

h1{
  color: Green;
  font-weight: "Arial";
}

h5{
  font-style: italic;
  font-weight:100em;
}

.container{
  padding: 10px;
}

.row{
  padding-bottom:10px
}
