BODY {
  font-family: "Times New Roman", serif;
  font-size: 17px;
}


.white{
  text-transform: uppercase;
}

.nav-logo{
  color: white;
  margin: 0 auto;
  font-weight: 500;
  width: 100%;
}

/*Hero container*/
.hero-container{
  color: white;
  background-color: black;
  width:100%;
  max-width: 100%;
}

/*Container would not fill page horizontally for some reason*/
.container{
  width: 100%;
  max-width: 100%;
}

.hed {
  font-size:3em;
  font-family: 'Times New Roman', sans-serif;
  font-weight:700;
}


/* Source of knowldedgehttps://www.tutorialspoint.com/how-to-create-a-black-and-white-image-using-css*/
.hero-image{
  width:100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

/*Styling for images in story text*/
.storyimage{
  width:100%;
}

/*Headline style*/
.headline{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Times New Roman', sans-serif;
}

/*byline style*/
.byline{
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Monserrat', sans-serif;
  text-align: center;
}

/*text styling*/
p{
  font-family: georgia, serif;
  line-height: 180%;
  text-align: left;
}


/*caption style*/
.caption{
  color: grey;
  font-style: italic;
  text-align: left;
}

/*footer style*/
footer{
  background-color: black;
  color: white;
  padding: 10px;
  width: 100%;
}

/*footer text*/
footer p{
  text-align: center;
}


.row{
  text-align: center;
  padding-bottom: 20px;
}

/*quote style*/
.quote{
  font-family: 'Montserrat', sans-serif;
  color:white;
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  padding: 15px, 0, 15px, 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: grey;
}

/*attribution*/
.attribution{
  font-size: .5em;
  font-weight: 100;
  color: white;
  font-style: italic;
}

/*highlighted text*/
.importantwords{
  text-transform: uppercase;
  font-size: 20px;
}

/*First words of the story*/
.startingwords{
  text-transform: uppercase;
  font-size: 30px;
}

/*link text styling*/
.link{
  font-style: italic;
  font-weight: bold;
}

/*link styling*/
a:link{
  color:red;
}

a:visited{
  color:blue;
}

a:hover{
  color:black;
}

@media(max-width:650px) {
  p {
    padding-left:20px;
    padding-right:10px;
  }

  .nav-logo{
    font-size: .60em;
  }
}
