/*Styles for my resume*/

/* Name */
#name{
  font-size: 3em;
  text-transform: uppercase;
  color: #33485e;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width:300px;
  margin: 0 auto;
  }

/*Main resume*/
  body{
    font-family: 'open sans', arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
  }

  #container {
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
  }

/*Journalist title*/
#title {
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: : 20px;

}

/*Section titles*/
.sectionheader{
  font-size: 1.5em;
  text-transform:uppercase;
  background-color: #33485e;
  color: white;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 70%;
  min-width: 300px;
}

/*experience title*/
.jobtitle{
  font-weight: 600;
  font-size: 2em;
}


.organization{
  font-weight: 400;
  font-size: 1.5em;
}


/*dates*/
.date{
font-weight: 400;
font-style: italic;
font-size: 1em;
margin-top:3px;
}

.description{
  margin-top:10px;
  margin:bottom 10px;
}

.menu{
  margin: 0px 0px 0px 0px;
  padding: 0px;
  text-align: center;
}

.menu li{
  display: inline;
}

#degrees{
  margin-top:5px
}

#do{
  margin-top: 5px;
}

.top{
  width:60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;

}
