/*Styles for my resume*/

/* Name */
#name{
  font-size: 3.5em;
  text-transform: uppercase;
  color: #33485e;
  text-align: center;
  border-bottom: 2px solid #33485e;
  width: 60%;
  min-width:300px;
  margin: 0 auto;
  }

/*Main resume*/
  body{
    font-family: 'open sans', arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
  }

  #container {
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
  }

/*Journalist title*/
strong {
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em
}

/*Section titles*/
.sectionheader{
  font-size: 1.5em
  text-transform:uppercase;
  background-color: #33485e;
  color: white;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 70%;
  min-width: 300px;
  margin: 0 auto;
}

/*experience title*/
h3{
  font-weight: 600;
  font-size: 2em
}

h4{
  font-weight: 400;
  font-size: 1.5em;
}


/*dates*/
h5{
font-weight: 400;
font-style: italic;
font-size: 1em;
}
