.bi {
font-size:3em;
}
.col-md-4 {
text-align: center;

}
.col-md-6{
text-align: center;
}
.btn{
  font-family: 'Special Elite', cursive;
  text-align: center;
  margin-top: 25px;
}
h1{
  font-family: 'Special Elite', cursive;
}
h2{
  font-family: 'Special Elite', cursive;
}
h3{
  font-family: 'Special Elite', cursive;
}
.navbar-brand{
  font-family: 'Special Elite', cursive;
}
.row {
  padding: 50px;
}

@media only screen and (max-width: 500px) {
  h2{
    padding-top: 50px;
  }
  .btn{
  background-color: teal !important;
}
}
